<h1>Дан массив чисел. Определить, есть ли в этом массиве отрезки, состоящие из степеней пятерки. Если есть, то подсчитать их количество и определить самый длинный. Вывести на печать отрезки, их количество и самый длинный из них</h1>
<%= form_tag("/laba8/view", :method => "get") do %>
  <%= label_tag("Введите массив чисел:") %>
  <%= text_field_tag(:v1, '1 2 25 5 4 125 5 25 4') %> <br/>
  <br/>
  <%= submit_tag "Resolve"%>
<% end %>